@import 'ext/fonts';
@import 'ext/normalize';
@import 'begin';
@import 'syntax';

// $linkColor: #999;
$linkColor:rgb(4, 71, 138);
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;

$gray: #999;
$lightGray: #eee;
$backCol: #F2F2F2;

@viewport{
    width: device-width;
    zoom: 1.0;
}

*,*:before,*:after {
	box-sizing: border-box;
}

body {
	// font-family: 'Nunito Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	@include fluidType(16px, 18px);
    @media screen and  (min-width: $tabWidth) {
        line-height: 1.55em;
    }
    @media screen and  (max-width: $tabWidth) {
        line-height: 1.2em;
    }
    
    @media screen and  (max-width: $largeMobileWidth) {
        line-height: 1em;

    }
	margin: 0;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $backCol;
}

a {
	color: $linkColor;
	text-decoration: none;
	transition: border-bottom 0.4s;
	&:hover {
		border-bottom: 0.5px solid $linkColor;
	}
}


h1, h2, h3 {
	line-height: 1.2em;
}

h1 {
    // @include fluidType(36px, 48px);
    @include fluidType(28px, 40px);
}

h2 {
	font-weight: bold;
    @include fluidType(20px, 24px);
    margin-top: 50px;
}

// &:hover {
//     color: $gray;
//     border-bottom: 0;
// }

h4 {
	font-weight: bold;
    font-size: 100%;
    color: #222;
	transition: color .3s ease;
	margin: 0 0 0 0;
	padding: 0;
}

dl {
	margin-top: 5px;
	margin-bottom: 35px;
}
figcaption {
	font-size: 10pt;
	line-height: 1.5em;
	margin-top: -1em;
}

ul{
    // margin-left: 10px;
    list-style:none;
    }

li {
    // .small {
        @include fluidType(14px, 16px);
    // }
}

header {
	// background-size: cover;
	padding: 25px 0;
	color: #fff;
    overflow: hidden;
    @media screen and  (max-width: $largeMobileWidth) {
        padding: 15px 0;
    }
	h2 {
		font-weight: normal;
        margin-top: 5px;
        @media screen and  (max-width: $mobileWidth) {
            font-size: 11px;
        }
        @media screen and  (max-width: $largeMobileWidth) {
            font-size: 13px;
        }
	}
	h1 {
        margin: 0;
        @media screen and  (max-width: $mobileWidth) {
            font-size: 14px;
        }
        @media screen and  (max-width: $largeMobileWidth) {
            font-size: 16px;
        }
	}
    
  
	.social {
		overflow: hidden;
		list-style-type: none;
		padding: 0;
		margin-top: 0;
		li {
			color: #fff;
			float: left;
			i {
				&:first-child::before {
					margin-left: 0;
				}
				@include fluidType(26px, 34px);
				transition: color .3s;
				&:hover {
					color: $gray;
				}
			}
		}
	}
}

.clearfix {
	clear: both;
}

//
// Basic Container Class
//
.pageHeader{
    margin: .01em 0;
    padding: 0;
}

.container {
	margin:0 150px;
	max-width: 720px;



	div.highlighter-rouge {
		right: 150px;
	}

	@media screen and  (max-width: $mobileWidth) {
        margin:0 15px; 
        
		div.highlighter-rouge {
			right: 15px;
		}
		div.highlight {
			padding: 30px 15px;
        }
		@include fluidType(10px, 12px);
        
	}

	@media screen and (max-width: $tabWidth) and (min-width: $mobileWidth){
		margin:0 40px;	
		div.highlighter-rouge {
			right: 40px;
		}
		div.highlight {
			padding: 30px 40px;
		}
	}

	@media screen and (max-width: $desktopWidth) and (min-width: $tabWidth){
		margin:0 80px;
		div.highlighter-rouge {
			right: 80px;
		}
		div.highlight {
			padding: 30px 80px;
		}
	}

	@media screen and (min-width: $desktopWidth) and (max-width: 1280px) {
		margin:0 100px;
		div.highlighter-rouge {
			right: 100px;
		}
		div.highlight {
			padding: 30px 100px;
		}
	}
}


.post-description {
	font-weight: normal;
	color: #ddd;

	margin-top:.5em;
	margin-bottom: 1.3em;
}

.post-date {
	color: $gray;
	.icon-calendar {
		margin-right: 6px;
	}
}

.post-tags {
	list-style-type: none;
	padding: 0;
	li {
		float: left;
		padding: 10px 20px;
		background-color: $lightGray;
		color: #000;
		margin: 5px;
		border-radius: 2px;
		@include fluidType(15px, 17px);
		&:first-child {
			margin-left: 0;
		}
	}
}

.posts {
	list-style-type: none;
	padding: 0;
	>li {
		margin-bottom: 30px;
		padding-bottom: 20px;
		&:not(:last-child) {
			border-bottom: 1px solid $lightGray;
		}
	}
}

.posts, .post-container {
	margin-top: 40px;
}

.post-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a:hover {
		border-bottom: none;
	}
}

.post-container {
	img {
		margin: 0 0;
	}
}

.navbar {
	position: absolute;
	top: 0;
	right: 5vw;
	a {
		color: inherit;
    }
   
	ul {
		list-style-type: none;
		li {
			// background-color: #ff9f1c;
			border-bottom: 1px solid #fff;
            float: left;
            display: block;
			// margin: 5px;
			&:not(:first-child){
				border-left: 0;
			}
            padding: 10px 25px;
            @media screen and  (max-width: $largeMobileWidth) {
                padding: 5px 5px;
            }
            
            // border-radius: 4px;
            @include fluidType(16px, 20px);
            @media screen and  (max-width: $desktopWidth) {
                font-size: 16px;
            }
            @media screen and  (max-width: $mobileWidth) {
                font-size: 9px;
            }
            @media screen and  (max-width: $largeMobileWidth) {
                font-size: 11px;
            }
			transition: background-color .3s ease-in;
			&:hover {
				background-color: rgba(#fff, 0.15);
				cursor: pointer;
			}
		}
	}
}

.co-author {
    font-size:85%;
    margin-bottom: .15rem;
    margin-top: -.4rem;
}

.paper-links {
    font-size:85%;
    margin-bottom: 0;
    margin-top: 0;
}


.abstract {
    // margin-top: -3px;
    font-size: 85%;
    text-align: justify;
}

:target:before {
    content: "";
    display: block;
    height: 50px;
    margin: -40px 0 0;
}

img {
    text-align: center;
    width: 100%;
}

.side-picture {
    //   height: 300px;
    //   width: 225px;
    // height: 1250px;
    // max-height: 100%;
    margin-top: 80px;
    max-width: 100%;
    width: 100%;
    position:absolute; 
    // top: 211px;
    left: 0;
    right: 0;
    float: center;
    border-radius: 0px;
    z-index: -1;
}
 
.profile-picture {
    //   height: 300px;
    //   width: 225px;
    // height: 250px;
    width: 300px;
    max-width: 22%;
    min-width: 50px;
    position: absolute;
    // right:  20%;
    left:  70%;
    float: right;
    // @media screen and  (max-width: $mobileWidth) {
    //     left: 735px+20px;        
	// }

	// @media screen and (max-width: $tabWidth) and (min-width: $mobileWidth){
	//     left: 760px+20px;
	// }

	// @media screen and (max-width: $desktopWidth) and (min-width: $tabWidth){
	// 	left: 800px+20px;
	// }

	// @media screen and (min-width: $desktopWidth) and (max-width: 1280px) {
	// 	left: 820px+20px;
	// }
    margin: 0px 0 0 15px;
    border-radius: 0px;
    @media screen and  (max-width: $tabWidth) {
        display: inline-block;
        float:  right;
        position: relative;
        z-index: -1;
        width: 40%;
        max-width: 100%;
        left:  0;
        // margin-left: auto;
        // margin-right: auto;
        padding-bottom: 40px;
    p & {
            padding-top: -10px;
            padding-bottom: 10px;
            margin-left: 20px;
            margin-right: 50%;
            margin-top: -15px;
            float: right;
        }
    }
    // @media screen and  (max-width: $tabWidth) {
    //     display: block;
    //     float: right;
    //     position: relative;
    //     z-index: -1;
    //     width: 50%;
    //     max-width: 100%;
    //     left:  0%;
    //     margin-left: 5%;
    //     padding-left: 20px;
    //     // right:  25%;
    //     // margin: 40px 50px;
    //     align: center;  
    // }
    
}

span{
    font-size: 90%;
    font-weight: normal;
    @media screen and  (max-width: $largeMobileWidth) {
        overflow-wrap: break-word;
        margin: 1px 1px;
    }
}

